doctype html
html(lang="en")
head
  include head.jade
  link(rel="stylesheet",href="/css/xword.css")
  link(rel="stylesheet",href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css")
body
  include nav.jade

  div.container
    div.header
      h3.text-muted
      
    div.jumbotron
      img.pull-right.img-responsive(src="/img/grid.png")
      h1 Xword
      p.lead Collaborate with friends to solve cryptic crosswords 
      ul
        li real-time chat
        li annotate the crossword grid collaboratively
      p.clearfix 
      if !user
        a.btn.btn-default(href="/auth/twitter") Login
      else
        a.btn.btn-default(href="/addform") Add New Grid
    
    if recents    
      ul
        - var done = []
        each r in recents
          
          if done.indexOf(r.grid_id) === -1
            li 
              a(href="/grid/#{r.grid_id}") #{r.name}  
            - done.push(r.grid_id)
    else
      div.row
        div.col-lg-3
          h2 Sign-in
            span.symbol
              i.fa.fa-twitter
          p Log in with your Twitter account
            
        div.col-lg-3
          h2 Scan
            span.symbol
              i.fa.fa-file-image-o
          p Scan a crossword and upload it
          
        div.col-lg-3
          h2 Share
            span.symbol
              i.fa.fa-share-alt
          p Share the URL with your friends
          
        div.col-lg-3
          h2 Solve
            span.symbol
              i.fa.fa-pencil-square-o
          p Chat and solve the crossword together