if user
  nav.navbar.navbar-inverse.navbar-fixed-top(role="navigation")
    div.container
      div.navbar-header.hidden-xs.hidden-sm
        a.navbar-brand(href="/") Xword
      p.navbar-text Logged in as #{user.username}
      a.btn.btn-default.navbar-btn(href="/logout",type="button") Logout